.option-list{
    background-color: cyan;
    margin: 10px;
    padding: 5px;
    width: 40%;
    border-radius: 10px;
}
.option-list:hover{
    background-color: rgb(20, 231, 150);
}
.quiz-wrapper{
    border: 2px solid slateblue;
    width: 100%;
    padding: 10px;
}